<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>You got a new Prescription from <%= @appointment.doctor.first_name %>!</p>
    <p> Prescription details<br>
    --------------------------
    </p>
    <p>Description: <%= @note.description %></p>
    
    <p><br>
    
    </p>
  </body>
</html>
